<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../iron-selector/iron-multi-selectable.html">
<link rel="import" href="../iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">

<dom-module id="ev-button-group">
  <template>
    <style>
      :host {
        display: block;
      }

      ::slotted(ev-button) {
        border-radius: 0;
      }

      ::slotted(ev-button:first-of-type) {
        border-radius: 3px 0 0 3px;
      }

      ::slotted(ev-button:last-of-type) {
        border-radius: 0 3px 3px 0;
      }
    </style>

    <slot></slot>
  </template>

  <script>
/**
`ev-button-group` is an element which can be used to manage a list of `ev-button`s
that can be selected. Tapping on the item will make the item selected. The selected
indicates which item is being selected. The default is to use the index of the item.

Example:

    <ev-button-group selected-attribute="active" selected="0">
      <ev-button toggles>Option 1</ev-button>
      <ev-button toggles>Option 2</ev-button>
      <ev-button toggles>Option 3</ev-button>
    </ev-button-group>

If you want to use the attribute value of an element for selected instead of the index,
set `attrForSelected` to the name of the attribute. For example, if you want to select item
by name, set `attrForSelected` to name.

Example:

    <ev-button-group selected-attribute="active" attr-for-selected="name" selected="foo">
      <ev-button name="foo" toggles>Option 1</ev-button>
      <ev-button name="bar" toggles>Option 2</ev-button>
      <ev-button name="zot" toggles>Option 3</ev-button>
    </ev-button-group>

You can specify a default fallback with `fallbackSelection` in case the selected attribute
does not match the `attrForSelected` attribute of any elements.

Example:

    <ev-button-group attr-for-selected="name" selected="non-existing" fallback-selection="default">
      <ev-button name="foo" toggles>Foo</ev-button>
      <ev-button name="bar" toggles>Bar</ev-button>
      <ev-button name="default" toggles>Default</ev-button>
    </ev-button-group>

Multiple items can be selected at once by setting the `multi` flag.

Example:

    <ev-button-group selected-attribute="active" multi>
      <ev-button toggles>Option 1</ev-button>
      <ev-button toggles>Option 2</ev-button>
      <ev-button toggles>Option 3</ev-button>
    </ev-button-group>


@customElement
@polymer
@appliesMixin Polymer.IronMultiSelectableBehavior
@appliesMixin Polymer.IronA11yKeysBehavior
@demo demo/index.html
*/
    class EvButtonGroup extends Polymer.mixinBehaviors([Polymer.IronMultiSelectableBehavior, Polymer.IronA11yKeysBehavior], Polymer.Element) {
      static get is() { return 'ev-button-group'; }
    }

    window.customElements.define(EvButtonGroup.is, EvButtonGroup);
  </script>
</dom-module>
